version: '3.8'

services:
  strapi:
    build: .
    ports:
      - '1337:1337'
    environment:
      - DATABASE_CLIENT=postgres
      - DATABASE_HOST=postgres
      - DATABASE_PORT=5432
      - DATABASE_NAME=algoraz_cms
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=Algoraz2124
      - DATABASE_SSL=false
      - ADMIN_JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
    volumes:
      - ./src:/strapi/src
      - ./config:/strapi/config
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: algoraz_cms
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Algoraz2124
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5433:5432'
    restart: unless-stopped

  adminer:
    image: adminer
    ports:
      - 8080:8080
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres_data: